.main{
    width: 450px;
    height: 400px;
    border:  1px solid black;
    padding-left: 20px;
    padding: 4px;
    text-transform: capitalize;
    font-family:'Times New Roman', Times, serif;
    border-radius:10px;
    background-color: rgb(60, 60, 60);
    color: white;  
     }

label{
    color: black;
     }

body{
margin-left: 35%;
margin-top: 3%;
background-color: rgb(167, 167, 244);
animation-name: bodyy;
animation-duration: 4s;
    }

    @keyframes bodyy{
        from{background-color: rgb(105, 105, 251);}
        to {background-color: rgb(181, 181, 244);}
    }
    
    img{
        margin-top: 10px;
        width: 150px;
        height: 100px;
        border: 1px solid white;
       }
    
